.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 20px;
  background:#fff;
  border-bottom:1px solid #eee;
  position:sticky;
  top:0;
  z-index:50;
}

.navbar nav a {
  margin-left:14px;
  font-weight:600;
  text-decoration:none;
  color:#6a3dd1;
  transition:.2s;
}

.navbar nav a:hover {
  color:#ff7ab6;
}
.cta-btn{
  padding:10px 16px;
  background:linear-gradient(90deg,#6a3dd1,#ff7ab6);
  color:#fff;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
}
.cta-btn:hover{
  opacity:.8;
}

.btn-pesan {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #6a3dd1, #ff7ab6);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
  transition: .3s ease;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.btn-pesan:hover {
  opacity: .85;
  transform: scale(1.03);
}

